.vscode
node_modules/
.idea
*/java/out/
java.iml
/java/.gradle/
/java/.settings
/java/bin
6/java/bin/DifferenceOfSquaresCalculatorTest.class
6/java/.settings/org.eclipse.buildship.core.prefs
6/java/.gradle/buildOutputCleanup/cache.properties
